.box_container{
    width: 400px;
    height: 150px;
    border: 3px solid lightcoral;
    border-radius: 3px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.box{
    width: 100px;
    height: 100px;
    border: 3px solid lightcoral;
    background-color: lightcoral;
    border-radius: 3px;

}
